[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git

[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
