[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git

[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/dynamic-connectivity-hdt"]
	path = external/dynamic-connectivity-hdt
	url = https://github.com/tomtseng/dynamic-connectivity-hdt.git
